@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%;
    --card: 0 0% 7%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 7%;
    --popover-foreground: 0 0% 98%;
    --primary: 32 46% 64%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 16 100% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 32 46% 20%;
    --input: 32 46% 15%;
    --ring: 32 46% 64%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 2%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 32 46% 64%;
    --sidebar-primary-foreground: 0 0% 9%;
    --sidebar-accent: 0 0% 10%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 32 46% 15%;
    --sidebar-ring: 32 46% 64%;
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
